$l500-desktop: (
  font-size: 72px,
  font-weight: 500,
  line-height: 130%,
  letter-spacing: 0em,
);

$l500-mobile: (
  font-size: 48px,
  font-weight: 500,
  line-height: 130%,
  letter-spacing: 0em,
);