$column-spans__form-group: (
  xsmall: 6,
  small: 12,
  medium: 6,
  large: 6,
  xlarge: 7,
  xxlarge: 7,
  xxxlarge: 7
);

.o-todoform {
  @extend %container;

  form {
    @include columns-container-flex;
  }

  &__group {
    @extend %f-sbody;
    @include column-flex($column-spans__form-group);
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__input {
    @include input;
    @extend %f-sbody;
  }

  &__select {
    @include input;
    @extend %f-sbody;
    height: 44px;
  }
}